@{
    Layout = "_Layout";
}

@section BackgroundDiff {
    <style>
        body {
            background-image: url(../images/Background_1.jpg);
        }
    </style>
}

@section activeFavoris {
    active
}

@{
    ViewData["title"] = "Favoris";
}

<!-- PAGE : FAVORIS -->

<div class="text-center">

    <!-- Espacement -->
    <br>
    <h1 class="titrePage texteEnBlanc text-center"><em>FAVORIS</em></h1>
    <p class="titrePage text-center">Vous avez <b>4 personnages</b> en favoris</p>
    <br>
    <!-- Espacement -->

    <form action="https://www.w3schools.com/action_page.php" class="form-check-inline">
        <div class="table-responsive">
            <table class="table table-striped table-dark align-content-center">
                <thead>
                    <tr>
                        <th scope="col">IMAGES</th>
                        <th scope="col">NOM PERSONNAGE</th>
                        <th scope="col">RÔLE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><img src="/images/Geralt_2.jpg" class="tailleImageFavoris" alt=""></th>
                        <td><a href="/Enfant/Detail">Geralt de Riv</a></td>
                        <td>Sorceleurs</td>
                        <td><button type="submit" class="btn-dark"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Yen_2.webp" class="tailleImageFavoris" alt=""></th>
                        <td><a href="/Enfant/Detail">Yennefer de Vangerberg</a></td>
                        <td>Magiciennes</td>
                        <td><button type="submit" class="btn-dark"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Vesemir_1.jpg" class="tailleImageFavoris" alt=""></th>
                        <td><a href="/Enfant/Detail">Vesemir</a></td>
                        <td>Sorceleurs</td>
                        <td><button type="submit" class="btn-dark"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Triss_1.jpg" class="tailleImageFavoris" alt=""></th>
                        <td><a href="/Enfant/Detail">Triss Merigold</a></td>
                        <td>Magiciennes</td>
                        <td><button type="submit" class="btn-dark"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>