.tailleImageLogo {
    height: 50px;
}

.tailleImageFavoris {
    height: 100px;
}

.Invisible {
    display: none;
}

/* TEXTES */

.texteEnBlanc {
    color: white;
}

.texteDescDetail1 {
    border: 1px solid red;
}

.texteDescDetail2 {
    border: 1px solid red;
}



/* MÉDIAS PAGE DETAIL */
@media (max-width: 576px) {
    .texteDescDetail2 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .texteDescDetail2 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .texteDescDetail2 {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .texteDescDetail2 {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .texteDescDetail1 {
        display: none;
    }
}

@media (min-width: 1400px) {
    .texteDescDetail1 {
        display: none;
    }
}

/* LISTE DES MÉDIAS */